<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp01.mapper.PersonMapper">
	<select id="findAll" resultType="com.myapp01.entity.PersonEntity" flushCache="true">
		select * from person order by id
	</select>
	<select id="findById" resultType="com.myapp01.entity.PersonEntity" flushCache="true">
		select * from person where id <![CDATA[ <= ]]>
		#{id} order by id
	</select>
	<insert id="create" parameterType="com.myapp01.entity.PersonEntity" flushCache="true">
		INSERT INTO person (id, name, age)
		VALUES ((select max(id)+1 from person), #{name}, #{age})
	</insert>
	<delete id="deleteById" parameterType="java.lang.Integer" flushCache="true">
		DELETE FROM person WHERE id = #{id}
	</delete>
	<update id="update" parameterType="com.myapp01.entity.PersonEntity" flushCache="true">
		UPDATE person SET name = #{name}, age = #{age}
		WHERE id = #{id}
	</update>
	<select id="dynamic" parameterType="java.lang.String" resultType="java.util.Map" flushCache="true">
		${sql}
	</select>
</mapper>
